[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
catallaxyz = "GEswHWjzyZz3XAD4fik2qMmSMwJykUEWJfVZL72QQ2yH"

[programs.localnet]
catallaxyz = "GEswHWjzyZz3XAD4fik2qMmSMwJykUEWJfVZL72QQ2yH"

[programs.mainnet]
catallaxyz = "GEswHWjzyZz3XAD4fik2qMmSMwJykUEWJfVZL72QQ2yH"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
