[workspace]
members = [
    "programs/*"
]
resolver = "2"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1
opt-level = "z"  # 优化大小而非速度
strip = true     # 移除符号表

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1

